tr {
    border-bottom: 1pt dotted black;

}
td{
    text-align: center;
    vertical-align: middle;
}

table{
    width:100%;
    border-collapse: collapse;
}

body {
    min-height: 99%;
    background-color: #4d4d4d;  
  }
