html {
  height: 100%;
}

body {
  min-height: 99%;
  background-color: #4d4d4d;  
}
  
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #4d4d4d;
  width: 100%;
}

@media screen and (orientation: landscape) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
  }
}

.grid-item {
  flex-wrap: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
  margin: 10px;
}

.sub-item {
  flex-wrap: nowrap;
  min-width: 85%;
}

/* .hold-btn{
  margin-bottom: 20px;
} */

.releaseAll{
  width: 100%;
  flex-wrap: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
}

.active{
  background-color:rgba(0, 255, 200, 0.897);
}

.not_active{
  background-color: rgba(255, 156, 42, 0.842)
}
.waiting_for_response{
  background-color:rgba(255, 42, 220, 0.945)
}